.article {
  display: flex;
}

@media screen and (max-width: 992px) {
  .article {
    flex-wrap: wrap;
  }
}

.preview {
  margin-right: 24px;
}

.imageWrapper {
  position: relative;
}

.time {
  background-color: #000;
  color: #fff;
  left: 0;
  padding: 5px 10px;
  position: absolute;
  top: 0;
}
