.navigation {
  margin-bottom: 24px;
}

.backBtn {
  background-color: #d43728;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  min-height: 30px;
  min-width: 100px;
  text-transform: uppercase;
}

.backBtn:hover {
  background-color: rgba(212, 55, 40, 0.8);
}
