.header {
  align-items: stretch;
  background-color: #d43728;
  box-shadow: 1px 1px 10px #777;
  display: flex;
  justify-content: flex-end;
  min-height: 100px;
  padding: 0 50px;
}

@media screen and (max-width: 992px) {
  .header {
    justify-content: center;
    padding: 0 24px;
  }
}

.nav {
  align-items: stretch;
  display: flex;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  align-items: center;
  display: flex;
}

.nav a {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  width: 100%;
}

.nav a:hover,
.nav :global(a.active) {
  background-color: rgba(0, 0, 0, 0.2);
}
